In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('Churn_Modelling.csv')

In [4]:
data.shape

(10000, 14)

In [5]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
y= data.iloc[:,-1]

In [7]:
y.shape

(10000,)

In [8]:
y

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [9]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
X= data.iloc[:,3:-1].values

In [11]:
#Encoding

In [12]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [13]:
labelEncoder_X_1 = LabelEncoder()

In [14]:
X[:,1]=labelEncoder_X_1.fit_transform(X[:,1])

In [15]:
labelEncoder_X_2 = LabelEncoder()

In [16]:
X[:,2]=labelEncoder_X_1.fit_transform(X[:,2])

In [17]:
oneHotEncoder = OneHotEncoder(categorical_features=[1])

In [18]:
X= oneHotEncoder.fit_transform(X).toarray()

C:\Users\ysxb118\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\ysxb118\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [19]:
X = X[:,1:]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test,y_train, y_test = train_test_split(X, y, test_size =0.2, random_state = 0)

In [22]:
#feature scaling

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc= StandardScaler()

In [25]:
X_train = sc.fit_transform(X_train)

In [26]:
X_test = sc.transform(X_test)

In [27]:
#Artifical Neural Network

In [28]:
import keras

Using TensorFlow backend.

In [29]:
from keras.models import Sequential
from keras.layers import Dense

In [30]:
#Initializing the ANN

In [31]:
#defining as a sequence of layers

In [32]:
#Neural network model is going to be a classifier

In [33]:
classifier = Sequential()

In [34]:
#add the first layers( input layer and first hidden layer)

In [35]:
X_train.shape

(8000, 11)

In [36]:
#input layer and first hidden layer

In [37]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation='relu', input_dim = 11))

WARNING:tensorflow:From C:\Users\ysxb118\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [38]:
#adding the second layer

In [39]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation='relu'))

In [40]:
#Adding the output layer

In [41]:
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation='sigmoid'))

In [42]:
#parameter tuning: kfold validation: crossvalidation set: experiment different models with different parameters

In [43]:
#Compiling the ANN with stochastic Gradient Descent

In [44]:
classifier.compile(optimizer='adam', loss = 'binary_crossentropy', metrics =['accuracy'])

In [45]:
#fitting the ANN to the training set

In [46]:
classifier.fit(X_train,y_train, batch_size=10, epochs = 100)

WARNING:tensorflow:From C:\Users\ysxb118\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
8000/8000 [==============================] - 2s 199us/step - loss: 0.4856 - acc: 0.7980
Epoch 2/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.4077 - acc: 0.8096
Epoch 3/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3794 - acc: 0.8350
Epoch 4/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3615 - acc: 0.8535
Epoch 5/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3534 - acc: 0.8576
Epoch 6/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3491 - acc: 0.8607
Epoch 7/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3470 - acc: 0.8605
Epoch 8/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3456 - acc: 0.8609
Epoch 9/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3449 - acc: 0.8610
Epoch 10/100
8000/8000 [==============================] - 2s 200us/step - loss: 0.3441 - acc: 0.8579
Epoch 11/100
8000/8000 [==============================] - 2s 247us/step - loss: 0.3431 - acc: 0.8600
Epoch 12/100
8000/8000 [==============================] - 2s 257us/step - loss: 0.3426 - acc: 0.8610
Epoch 13/100
8000/8000 [==============================] - 2s 208us/step - loss: 0.3427 - acc: 0.8592
Epoch 14/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3421 - acc: 0.8591
Epoch 15/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3413 - acc: 0.8614
Epoch 16/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.3417 - acc: 0.8614
Epoch 17/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.3411 - acc: 0.8606
Epoch 18/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3406 - acc: 0.8610
Epoch 19/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3403 - acc: 0.8604
Epoch 20/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3397 - acc: 0.8605
Epoch 21/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3401 - acc: 0.8599
Epoch 22/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3400 - acc: 0.8600
Epoch 23/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3392 - acc: 0.8595
Epoch 24/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3394 - acc: 0.8615
Epoch 25/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3395 - acc: 0.8606
Epoch 26/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3381 - acc: 0.8615
Epoch 27/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3388 - acc: 0.8614 1s - los
Epoch 28/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3388 - acc: 0.8621
Epoch 29/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.3390 - acc: 0.8634
Epoch 30/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.3383 - acc: 0.8617
Epoch 31/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3386 - acc: 0.8605
Epoch 32/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3379 - acc: 0.8621
Epoch 33/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3384 - acc: 0.8620
Epoch 34/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3380 - acc: 0.8615
Epoch 35/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3383 - acc: 0.8610
Epoch 36/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3383 - acc: 0.8622
Epoch 37/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3381 - acc: 0.8624
Epoch 38/100
8000/8000 [==============================] - 1s 172us/step - loss: 0.3378 - acc: 0.8635
Epoch 39/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3376 - acc: 0.8630
Epoch 40/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.3376 - acc: 0.8625
Epoch 41/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3374 - acc: 0.8612
Epoch 42/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3372 - acc: 0.8612
Epoch 43/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3368 - acc: 0.8626
Epoch 44/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3370 - acc: 0.8630
Epoch 45/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3369 - acc: 0.8634
Epoch 46/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3362 - acc: 0.8626
Epoch 47/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3370 - acc: 0.8632
Epoch 48/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3364 - acc: 0.8627
Epoch 49/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3370 - acc: 0.8622
Epoch 50/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3362 - acc: 0.8625
Epoch 51/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3364 - acc: 0.8626
Epoch 52/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3360 - acc: 0.8640
Epoch 53/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3360 - acc: 0.863 - 1s 152us/step - loss: 0.3365 - acc: 0.8630
Epoch 54/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3362 - acc: 0.8632
Epoch 55/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3361 - acc: 0.8622
Epoch 56/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3371 - acc: 0.8624
Epoch 57/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3365 - acc: 0.8629
Epoch 58/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3361 - acc: 0.8615
Epoch 59/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3365 - acc: 0.8634
Epoch 60/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.3361 - acc: 0.8639
Epoch 61/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3364 - acc: 0.8627
Epoch 62/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3364 - acc: 0.8640
Epoch 63/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3355 - acc: 0.8635
Epoch 64/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3363 - acc: 0.8626
Epoch 65/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3367 - acc: 0.8640
Epoch 66/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3360 - acc: 0.8629
Epoch 67/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3361 - acc: 0.8637
Epoch 68/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3359 - acc: 0.8634
Epoch 69/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3358 - acc: 0.8630
Epoch 70/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3362 - acc: 0.8616
Epoch 71/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3357 - acc: 0.8642
Epoch 72/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.3362 - acc: 0.8639
Epoch 73/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3357 - acc: 0.8621
Epoch 74/100
8000/8000 [==============================] - 1s 169us/step - loss: 0.3361 - acc: 0.8625
Epoch 75/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3362 - acc: 0.8632
Epoch 76/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3361 - acc: 0.8626
Epoch 77/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3365 - acc: 0.8639
Epoch 78/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3353 - acc: 0.8651

Epoch 79/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3361 - acc: 0.8641
Epoch 80/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3357 - acc: 0.8635
Epoch 81/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3357 - acc: 0.8659
Epoch 82/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3361 - acc: 0.8634
Epoch 83/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3357 - acc: 0.8656
Epoch 84/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3354 - acc: 0.8626
Epoch 85/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3358 - acc: 0.8639
Epoch 86/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3351 - acc: 0.8655
Epoch 87/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3362 - acc: 0.8637
Epoch 88/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3356 - acc: 0.8644
Epoch 89/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3358 - acc: 0.8647
Epoch 90/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3353 - acc: 0.8637
Epoch 91/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3359 - acc: 0.8639
Epoch 92/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3352 - acc: 0.8644
Epoch 93/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3359 - acc: 0.8639
Epoch 94/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3354 - acc: 0.8644
Epoch 95/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.3356 - acc: 0.8655
Epoch 96/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3359 - acc: 0.8657
Epoch 97/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3352 - acc: 0.8639
Epoch 98/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3352 - acc: 0.8631
Epoch 99/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3353 - acc: 0.8647
Epoch 100/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3355 - acc: 0.8646

In [47]:
#what would be a good batch size, epochs and number of nodes???

In [48]:
#predict the test set result

In [49]:
y_pred = classifier.predict(X_test)

In [50]:
y_pred[9]

array([0.96851635], dtype=float32)

In [51]:
y_pred = (y_pred > 0.5)

In [52]:
from sklearn.metrics import confusion_matrix

In [53]:
cm = confusion_matrix(y_test, y_pred)

In [54]:
cm

array([[1509,   86],
       [ 201,  204]], dtype=int64)

In [55]:
(1534+155)/(1534+155+61+250)

0.8445